<div class="edit-container">
  <div class="edit-wrapper">
  <%= form_for @crawl_states  do |f| %>
    <h1 class="title edit">インスタンス</h1>
    <%= f.text_field :instance %>
    <%= f.submit %> 
    <% end %>
  </div>
</div>