<div class="index-container">
  <div class="body-wrapper">
    <main class="main-wrapper">
      <section class="user-wrapper">
        <div class="user-prof">
          ユーザーツイッターの情報書いていく。
          <p class="user-pic">
            
          </p>
        </div>
      </section>
      <section class="toot-wrapper">
        tootを書いていく。
      </section>
    </main>
  </div>
</div>