<div class="index-container">
  <div class="body-wrapper">
    <main class="main-wrapper">
      <section class="user-wrapper grid">
        <div class="user-prof column--heavy">
          ユーザーツイッターの情報書いていく。ユーザーツイッターの情報書いていく。ユーザーツイッターの情報書いていく。ユーザーツイッターの情報書いていく。ユーザーツイッターの情報書いていく。ユーザーツイッターの情報書いていく。ユーザーツイッターの情報書いていく。
          ユーザーツイッターの情報書いていく。
          ユーザーツイッターの情報書いていく。
          ユーザーツイッターの情報書いていく。
          ユーザーツイッターの情報書いていく。
        </div>
        <div class="toot-calendar">
          recent tweet
        </div>
        
      </section>
      <section class="toot-wrapper grid">
          <!-- タイムライントゥート -->
          <div class="column--heavy toot-content-wrapper">
            <%= render :partial => "toot", :collection => @toots %>
          </div>
          <div class="">
          </div>
      </section>
    </main>
  </div>
</div> 