<div class="new-container">
  <div class="new-wrapper">
    <%= form_for @crawl_state,:url => { :controller => :users, :action => :create } do |f| %>
      <div>test</div>
      <%= f.text_field :instance %>
      <%= f.text_field :instance %>
      <%= f.submit "test" %>
    <% end %>
  </div>
</div>