<div class="footer">
  <div class="inner">
    <div class="profile">
      <h5 class="title">作者</h2>
      <p><%= image_tag("yamamoto.png",:class=>"profile-photo") %>
        <span>Ken Yamamoto PG</span>
      </p>
    </div>
  </div>
</div>