<header class = "header-top">
  <div class="header-wrapper">      
    <div class="grid grid-wrapper ">      
      <a>25% ロゴマーク</a>
      <a>25% このサイトについて</a>
      <%= link_to("25%インスタンス追加") %>
      <% if logged_in? %>
        <%= link_to("ログアウト",logout_path)%>
      <% else %>
        <%= link_to("ログイン",'/auth/twitter') %>
      <% end %>
    </div>
    <img src="" alt="" />
  </div>
</header>
