<header class = "header-top">
  <div class="header-wrapper">      
    <div class="grid grid-wrapper ">      
      <a>25% ロゴマーク</a>
      <a>25% このサイトについて</a>
      <%= link_to("25%インスタンス追加",edit_user_path) %>
      <%= link_to("ログイン",'/auth/twitter') %>
    </div>
  </div>
</header>
