<header class = "header-top">
  <div class="header-wrapper">
    <div class="grid">
      <a>25% Column</a>
      <a>25% Column</a>
      <a>25% Column</a>
      <a>25% Column</a>
    </div>
  </div>
</header>
