<div class="user-prof column--heavy">
  <div class="prof-instance-link">
    <%= instance_link(params[:id],"mstdn.jp") %>
    <%= instance_link(params[:id],"friends.nico")%>
    <%= instance_link(params[:id],"pawoo.net")%>
  </div>
    <ul class="tweet-user">
    </ul>
</div>