<div class="user-prof column--heavy">
  <div class="prof-instance-link">
    <%= instance_link(@user,"mstdn.jp") %>
    <%= "test" %>
    <%= instance_link(@user,"friends.nico")%>
    <%= instance_link(@user,"pawoo.net")%>
  </div>
    <ul class="tweet-user">
    </ul>
</div>