<div class="user-prof column--heavy">
  <% CrawlState.where(:user_id => params[:id]).each do |account_info| %>
    <div class="prof-instance-link">
      <div class="instance-detail-content">
        <figure>
          <%= instance_link(params[:id],account_info.instance ) %>
          <figcaption>
            <p><%= account_info.instance %></p>
            <p><%= account_info.instance_user_name %></p>
          </figcaption>
        </figure>
      </div>
    </div>
  <% end %>
</div>