@import "common";
.footer {
  background-color: #000;
  height: 200px;
  .inner {
    .profile {
      width: 300px;
      margin: 0 auto;
      .title {
        color: #ccc;
        text-align: center;
        padding: 0.5em;
        }
        p{
          padding-top: 0.8em;
          padding-bottom: 0.8em;
          border-top: $border;
          border-bottom: $border;
          span{
            color: #ccc;
            padding-left: 25%;
          }
          .profile-photo {
            margin: 0 auto;
            width: 60px;    
        }
      }
    }
  }
}

.page {
  font-size: 30px;
}
.next > a {
  font-size: 30px;
}

.last > a {
  font-size: 30px;
}