// 変数定義
// 1,margin 0 auto を変数か出来る？
// 
// ヘッダー作成
// 
.header-top {
  background-color: #000;
  .header-wrapper{
    width: 70%;
    margin: 0 auto;
    a {
      color: #ddd;
      text-decoration: none;
    }
    .header-link {
      line-height: 60px;
      text-align: center;
    }
    .profile-photo{
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
      padding-top: 5px;
      display: inline-block;
    }
    .twitter-nickname{
      vertical-align: 15px;
      color: #fff;
    }
    .logo-wrapper {
      width: 85px;
      display: inline-table;
      .header-logo {
        height: 60px;
        padding: 3px;
        border-radius: 15px;
        width: 60px;
      }
    }
  }
}
