.home-wrapper {
  .home-body-wrapper {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    .home-to-login {
      background-color: rgba(51,51,51,0.25);
      .home-title {
        text-align: center;
        color: #fff;
        .home-mstdn-logo{
          width: 60px;
          display: inline-block;
          border-radius: 50%;
          vertical-align:  -15px;
        }
      }
      .login-box {
        width: 70%;
        margin: 0 auto;
      }
    }
  }
}