@import "common";
.home-wrapper {
  .home-body-wrapper {
    width: 75%;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    .flash-notice {
      font-size: 3rem;
      margin-top: 25px;
      background-color: #ff6666;
      border-radius: $base-border-radius;
      color: #fff;
    }
    .home-to-login {
      background-color: rgba(51,51,51,0.25);
      @include base-border-radius;
      .home-title {
        padding-top: 20px;
        text-align: center;
        .home-mstdn-logo{
          width: 60px;
          display: inline-block;
          border-radius: 50%;
          vertical-align:  -15px;
        }
      }
      .login-box:hover{
        background-color: #3a3c4a;
        opacity: 0.7;
        transition: 0.5s;
      }
      .login-box {
        width: 15%;
        padding: 25px;
        background-color: #dededf;
        border: 1px solid black;
        border-radius: $base-border-radius;
        margin: 0 auto;
        margin-bottom: 25px;
        position: relative;

        .login-link {
          text-decoration: none;
          opacity: 0.8;
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          display: block;
        }

        i {
          color: #1da1f2;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          font-size: 2rem;
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
    .example-wrapper {
      background-color: #efeff0;
      padding-bottom: 30px;
      @include base-border-radius;
      .example-body-wrapper{
        .example-picture{
          height: 200px;
          padding-top: 20px;
          margin-bottom: 25px;
        }
        
        .picture1,.picture2{
          width: 300px;
          object-fit: contain;
          margin: 0 auto;
        }
        .picture3{
          width: 320px;
          object-fit: contain;
          margin: 0 auto;
        }
      }
    }
  }
}