@import "common";
.new-wrapper {
  width: 60%;
  margin: 0 auto;
  form {
    .instance-name {
      display: inline-block;
    }
    .instance-image {
      width: 100px;
      height: 100px;
      display: inline-block;
      vertical-align: -30px;
      padding-right: 5px;
    }
  }
  .submit{
    text-align: center;
    .submit-button {
      @include base-border-radius;
    }
  }
}

