@import "common";
@media screen and (max-width: 768px){
  .toot-calendar {
    display: none;
  }
  .recent-user {
    display: none;
  }
  .about-site {
    display: none;
  }
  .profile-photo-wrapper {
    display: none;
  }
  .header-link {
    font-size: 0.9em;
  }
}
