@import "common";
@media screen and (max-width: 768px){
  .toot-calendar {
    display: none;
  }
  .recent-user {
    display: none;
  }
  .about-site {
    display: none;
  }
  .profile-photo-wrapper {
    display: none;
  }
  .header-link {
    font-size: 0.5em;
    padding: 0px;
    line-height: 40px;
  }
  .example-picture {
    margin-bottom: 25px;
  }
  // ユーザープロフ用レスポンシブCSS 
  .user-prof {
    height: 100px;
  }
  #user-prof {
    height: 100px;
    #prof-instance-link{
      width: 15%;
      margin-right: 8px;
      .instance-detail-content{
        img#instance-id {
          width: 50px;
        }
        #instance-figure{
          height: 50px;
          background-color: none;
          img#instance-id {
            width: 30px;
          }
          figcaption{
            display: none;
          }
        }
      }
    }
  }
}

