@import "common";
@media screen and (max-width: 768px){
  .toot-calendar {
    display: none;
  }
  .recent-user {
    display: none;
  }
  .about-site {
    display: none;
  }
  .profile-photo-wrapper {
    display: none;
  }
  .header-link {
    font-size: 0.5em;
    padding: 0px;
    line-height: 40px;
  }
  .example-picture {
    margin-bottom: 25px;
  }
  // ユーザープロフ用レスポンシブCSS 
  .user-prof {
    height: 100px;
  }
  .instance-detail-content{
    img#instance-id {
      width: 50px;
    }
    figure{
      height: 60px;
    }
  }
}

