// ユーザーindexのCSS
.index-container {
  .body-wrapper{
    width: 100%;
    .main-wrapper{
      margin: 0 auto;
      // ↓仮置き
      width: 70%;
      .user-wrapper{
        position: relative;
        background-color: green;
        height: auto;
        .user-prof {
          background-color: red;
          margin-left: 0px;
          padding: 40px;
          .user-prof-image {
            width: 100px;
            border-radius: 50%;
            display: inline-block;
          }
          .instance-link {
            display: inline-block;
            vertical-align: 120%;
            padding-left: 20px;
            a {
              text-decoration: none;
            }
            strong {
              color: #fff;
            }
            .mstdn-link,.pawoo-link,.friends-link {
              color: #fff;
              text-decoration: none;
              padding: 5px;
              background: rgba(0, 0, 0, 0.8);
            }
          }
        }
        .toot-calendar {
          background-color: brown;
      }
      .tweet-user {
        .self-intro {
          color: #fff;
          list-style: none;
        }
        .self-link {
          color: #fff;
          list-style: none;
        }
      }
    }
      .toot-wrapper {
        .toot-content-wrapper{
          min-width: 0;
          background-color: yellow;
          margin-bottom: 30px;
          .content{
            background-color: #f2f2f2;
            margin-top: 5px;
            .instance-image {
              width: 5%;
              display: inline-block;
            }
            .content-type{
              width: 93%;
              display: inline-block;
              .display-name-content{
                .display-calendar{
                  padding-left: 1em;
                  font-size:  0.6em;
                  opacity: 0.9;
                }
              }
            }
            .invisible{
              display: none;
            }
          }
        }
      }
    }
  }
}

.pagination {
  text-align: center;
}