// ユーザーindexのCSS
.index-container {
  .body-wrapper{
    width: 100%;
    .main-wrapper{
      margin: 0 auto;
      // ↓仮置き
      width: 70%;
      .user-wrapper{
        position: relative;
        background-color: green;
        height: 300px;
        .user-prof {
          background-color: red;
          margin-left: 0px;
          padding: 40px;
          .user-prof-image {
            width: 100px;
            border-radius: 50%;
            display: inline-block;
          }
          .instance-link {
            display: inline-block;
          }
        }
        .toot-calendar {
          background-color: brown;
      }
      .tweet-user {
        .self-intro {
          color: #fff;
        }
        .self-link {
          color: #fff;
        }
      }
    }
      .toot-wrapper {
        .toot-content-wrapper{
          min-width: 0;
          background-color: yellow;
          margin-bottom: 30px;
          .content{
            background-color: #f2f2f2;
            margin-top: 5px;
            .invisible{
              display: none;
            }
          }
        }
      }
    }
  }
}

.pagination {
  text-align: center;
}