// body {
//   background:#C0DEED url(http://abs.twimg.com/images/themes/theme1/bg.png) no-repeat fixed 0 0 ;
// }
body {
  background: url(5.jpg)  fixed 0 0 ;
}

// ユーザーindexのCSS
.index-container {
  .body-wrapper{
    width: 100%;
    .main-wrapper{
      margin: 0 auto;
      // ↓仮置き
      width: 70%;
      .user-wrapper{
        position: relative;
        height: auto;
        .user-prof {
          margin-left: 0px;
          padding-top: 20px;
          .user-prof-image {
            width: 100px;
            border-radius: 50%;
            display: inline-block;
          }
          .instance-link {
            display: inline-block;
            vertical-align: 120%;
            padding-left: 20px;
            a {
              text-decoration: none;
            }
            strong {
              color: #fff;
            }
            .mstdn-link,.pawoo-link,.friends-link {
              color: #fff;
              text-decoration: none;
              padding: 5px;
              background: rgba(0, 0, 0, 0.8);
            }
          }
        }
        .toot-calendar {
          // background-color: brown;
          border: 1px solid #eee;
          border-bottom: 1px solid #eee;
          .toot-calendar-title {
            text-align: center;
            border-bottom: 1px solid #ccc;
            padding: 0.7em;
          }
          .date-count{
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            border-bottom: 1px solid #ccc;
            .recent-date{
              text-align: center;
            }
            
          }
      }
      .tweet-user {
        .self-intro {
          color: #fff;
          list-style: none;
        }
        .self-link {
          color: #fff;
          list-style: none;
        }
      }
    }
      .toot-wrapper {
        .toot-content-wrapper{
          min-width: 0;
          margin: 0;
          background-color: yellow;
          margin-bottom: 30px;
          .content{
            background-color: #f2f2f2;
            margin-top: 5px;
            .instance-image {
              width: 5%;
              display: inline-block;
            }
            .content-type{
              width: 93%;
              display: inline-block;
              .display-name-content{
                .display-calendar{
                  padding-left: 1em;
                  font-size:  0.6em;
                  opacity: 0.9;
                }
              }
            }
            .invisible{
              display: none;
            }
          }
        }
        .recent-user {
          background-color: green;
          height: 400px;
          .recent-user-name {
            // text-align: center;
            padding-left: 15px;
            .user-photo {
              display: inline-block;
            }
            .user-link {
              vertical-align: 15px;
              padding-left: 10px;
              text-decoration: none;
              color:  #3c3c3d;
            }
          }
        }
      }
    }
  }
}

.pagination {
  text-align: center;
}