// 変数定義
// 1,margin 0 auto を変数か出来る？

// 
// ヘッダー作成
// 
.header-top {
  background-color: #000;
  .header-wrapper{
    width: 70%;
    margin: 0 auto;
    a {
      color: #ddd;
    }
  }  
}
.index-container {
  .body-wrapper{
    width: 100%;
    .main-wrapper{
      margin: 0 auto;
      // ↓仮置き
      width: 70%;
      // margin-top: 100px;
      height: 800px;
      .user-wrapper{
        padding: 10px;
        position: relative;
        background-color: green;
        height: 300px;
        .user-prof {
          background-color: red;
          margin-top: 30px;
          
        }
      }
    }
  }
}